.home {
  background-color: #001723;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 15%;
  color: white;

  &__title {
    font-size: 4rem;
    padding: 2rem;
    font-weight: 500;
  }

  &__circles {
    display: flex;
    flex-direction: column;
    gap: 110px;
    display: relative;

    &-subgroup {
      display: flex;
      justify-content: space-around;
    }

    &__title {
      justify-self: center;
      align-self: center;
      margin-top: 10%;
      font-size: 4rem;
    }
  }
}

.left__line {
  position: absolute;
  top: 325px;
  left: 220px;
  animation: charging-animation 1s linear 0.1s infinite;
}
.middle__line {
  position: absolute;
  top: 325px;
  left: 205px;
  animation: charging-animation 1s linear 0.1s infinite;
}
.right__line {
  position: absolute;
  top: 325px;
  left: 70px;
  animation: charging-animation 1s linear 0.1s infinite;
}

@keyframes charging-animation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.75;
  }
  50% {
    opacity: 0.3;
  }
  75% {
    opacity: 0.75;
  }
}
