@use "../../partials/templates" as *;
@use "../../partials/colors" as *;
@use "../../partials/resets" as *;
@use "../../partials/text" as *;

.card {
  &-btn__wrapper {
    display: flex;
    flex: none;
    flex-grow: 0;
    margin-left: 10%;
    justify-content: space-evenly;
    max-width: 85%;
    margin-left: 7%;
    padding-top: 5rem;
  }
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }
  &-item {
    @include info-card;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7%;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(22px);
  }
  &-item2 {
    margin-top: 2rem;
    @include info-card;
    margin-bottom: 1rem;
    margin-left: 7%;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(22px);
  }
  &-item3 {
    margin-top: 2rem;
    @include info-card;
    margin-left: 7%;
    z-index: 2;
    background: rgba(255, 255, 255, 0.17);
    backdrop-filter: blur(22px);
  }

  &-subtitle {
    @include sub-heading;
    padding-top: 2rem;
    padding-left: 2rem;
    font-weight: 500;
  }

  &-num__title {
    text-align: end;
    padding: 2rem;
    @include number-info;
  }
  &-btn {
    @include button;
    @include button-text;
    border: solid 1px #b0d5ea;
  }

  &-btn:hover {
    background-color: #0077bb;
    border: solid 1px #0077bb;
  }

  &-btn:focus {
    background-color: #0077bb;
    border: solid 1px #0077bb;
  }

  &-circle {
    width: 60.8px;
    height: 60.8px;
    left: 150px;
    top: 498px;
    border-radius: 50%;
    box-shadow: 0 0 20px 10px white;
    align-items: center;
    border: white 1px solid;
    position: absolute;
    z-index: 0;
  }
}
.circle2 {
  top: 230px;
  left: 228px;
  box-shadow: 0 0 30px 10px white;
}

.circle3 {
  top: 275px;
  left: 70px;
  border: 2.5px solid #b0d5ea;
  box-shadow: -2px -2px 90px 20px white;
  width: 57px;
  height: 57px;
}
