@use "../../partials/templates" as *;
@use "../../partials/colors" as *;
@use "../../partials/resets" as *;
@use "../../partials/text" as *;

.card {
  &-btn__wrapper {
    display: flex;
    flex: none;
    flex-grow: 0;
    margin-left: 10%;
    justify-content: space-evenly;
    max-width: 85%;
    margin-left: 7%;
    padding-top: 5rem;
  }
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }
  &-item {
    @include info-card;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 7%;
  }
  &-item2 {
    margin-top: 2rem;
    @include info-card;
    margin-bottom: 1rem;
    margin-left: 7%;
  }
  &-item3 {
    margin-top: 2rem;
    @include info-card;
    margin-left: 7%;
  }

  &-subtitle {
    @include sub-heading;
    padding-top: 2rem;
    padding-left: 2rem;
    font-weight: 500;
  }

  &-num__title {
    text-align: end;
    padding: 2rem;
    @include number-info;
  }
  &-btn {
    @include button;
    @include button-text;
    border: solid 1px #b0d5ea;
  }

  &-btn:hover {
    background-color: #0077bb;
    border: solid 1px #0077bb;
  }

  &-btn:focus {
    background-color: #0077bb;
    border: solid 1px #0077bb;
  }
}
