@use "./colors" as *;

@mixin dropdown {
  width: 267px;
  height: 35px;

  background: #006ba8;
  border-radius: 15px;
}

@mixin button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 16px;
  gap: 10px;

  width: 100px;
  height: 33px;

  background: #b0d5ea;
  border-radius: 42px;
}

@mixin info-card {
  width: 85%;
  height: 111px;
  background-color: $Card-blue;
  border-radius: 15px;
}
